* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  scrollbar-width: none;
  background: #282c34;
}
.container {
  background: #282c34;
  color: #fff;
  max-width: 550px;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
button {
  margin: 20px 10px;
  background: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 15px;
  transition: 0.3s ease-out;
}
button:active {
  transform: scale(1.05);
  background: #fff;
  color: #000;
}
button:focus {
  outline: none;
}

button::selection{
  background:white;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
  }
}